<div class="title__box">
  <h1 class="area__title">の観光スポット</h1>
</div>
<div class="trips">
  <div class="trip">
    <div class="trip__img"><%= image_tag 'carshare501IMGL2465_TP_V4 .jpg', :width=>'100%', :height=>'200px' %></div>
    <div class="trip__text">
      <h3 class="place__name">テスト投稿</h3>
      <p class="place__detail">テストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
    <div class="evaluation">評価</div>
    <div class="review">口コミ：</div>
    <button class="wannago"><%= image_tag "wannago.png" %>行きたい</button>
  </div>

  <div class="trip">
    <div class="trip__img"><%= image_tag 'carshare501IMGL2465_TP_V4 .jpg', :width=>'100%', :height=>'200px' %></div>
    <div class="trip__text">
      <h3 class="place__name">テスト投稿</h3>
      <p class="place__detail">テストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
    <div class="evaluation">評価</div>
    <div class="review">口コミ：</div>
    <button class="wannago"><%= image_tag "wannago.png" %>行きたい</button>
  </div>

  <div class="trip">
    <div class="trip__img"><%= image_tag 'carshare501IMGL2465_TP_V4 .jpg', :width=>'100%', :height=>'200px'  %></div>
    <div class="trip__text">
      <h3 class="place__name">テスト投稿</h3>
      <p class="place__detail">テストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
    <div class="evaluation">評価</div>
    <div class="review">口コミ：</div>
    <button class="wannago"><%= image_tag "wannago.png" %>行きたい</button>
  </div>

  <div class="trip">
    <div class="trip__img"><%= image_tag 'carshare501IMGL2465_TP_V4 .jpg', :width=>'100%', :height=>'200px' %></div>
    <div class="trip__text">
      <h3 class="place__name">テスト投稿</h3>
      <p class="place__detail">テストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
    <div class="evaluation">評価</div>
    <div class="review">口コミ：</div>
    <button class="wannago"><%= image_tag "wannago.png" %>行きたい</button>
  </div>

  <div class="trip">
    <div class="trip__img"><%= image_tag 'carshare501IMGL2465_TP_V4 .jpg', :width=>'100%', :height=>'200px' %></div>
    <div class="trip__text">
      <h3 class="place__name">テスト投稿</h3>
      <p class="place__detail">テストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
    <div class="review">口コミ：</div>
    <button class="wannago"><%= image_tag "wannago.png" %>行きたい</button>
  </div>

</div>