
<div class="trip-registration">
  <%= form_for(@trip , :url => {:controller => :trips, :action => :create} ) do |f| %>
  <div class="form">
      <%= f.label :place_name, "観光地" %>
      <%= f.text_field :place_name, autofocus: true, autocomplete: "place_name", placeholder: "観光地名(例：日光東照宮)" %>
    </div>
    <div class="form-group">
      <%= f.label :place_detail, "詳細" %>
      <%= f.text_area :place_detail,  autofocus: true, autocomplete: "place_detail", placeholder: "観光地の説明を入れてください(300文字以内)" %>
    </div>
    <div class="form">
      <%= f.label :telephone_number, "電話番号" %>
      <%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "例：090XXXXXXXX" %>
    </div>
    <div class="time">
      <%= f.label :start_time, "営業時間" %>
      <%= f.time_select :start_time, autofocus: true, autocomplete: "start_time" , time_separator: "" %>時
      〜
      <%= f.time_select :end_time, autofocus: true, autocomplete: "end_time", time_separator: "" %>時
    </div>
    <div class="form">
      <%= f.label :regular_holiday, "定休日" %>
      <%= f.text_field :regular_holiday, autofocus: true, autocomplete: "regular_holiday", placeholder: "例：火・水or無休" %>
    </div>
    <div class="form">
      <%= f.label :category_id, "カテゴリー" %>
      <%= f.collection_select(:category_id, @categories, :id , :category_name , prompt: "選択してください")  %>
    </div>
    <div class="form">
      <%= f.label :address , "住所" %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "例：栃木県日光市XXXXXXXXX" %>
    </div>
    <div class="field">
      <%= f.label :trip_photos, "写真" %>
      <%= f.fields_for :trip_photos  do |photo_f| %>
        <%= photo_f.attachment_field :trip_image , multiple:true, id: "getfile" %>
      <% end %>
    </div>
    <div class="action">
      <%= f.submit "登録", class: "registration_btn" %>
    </div>
  <% end %>
</div>


