<div class="trip-content">
  <section class="trip-summary">
    <div class="trip-summary__content">
      <h1 class="place__title"><%= @trip.place_name %></h1>
    </div>
    <div class="trip-summary__actions">
      <% if @trip.wannagoed_by?(current_user) %>
        <%= link_to wannago_trips_path(@trip), class: "wanna", remote: true do %>
          <button class='wannago <%= "#{@trip.id}wanna" %>'<%= image_tag "/images/wannago.png" %>行きたい</button>
        <% end %>
      <% else %>
        <%= link_to wannago_trips_path(@trip), class: "wanna", remote: true do  %>
          <button class='wannago <%= "#{@trip.id}wanna" %>'<%= image_tag "/images/wannago.png" %>行きたい</button>
        <% end %>
      <% end %>
      <button class="contribution" id="modal-open"><%= image_tag "/images/contribution.png" %>投稿</button>
    </div>
  </section>
  <hr>
  <div class="review__wrapper"></div>
  <div class="review-registration main-modal">
    <%= form_with(model: @review ,url: "/trips/#{@trip.id}/reviews" , remote: true) do |f| %>
      <div class="form">
        <%= f.label :evaluation_id, "カテゴリー" %>
        <%= f.collection_select(:evaluation_id, @evaluations, :id , :evaluation_name , prompt: "選択してください")  %>
      </div>
      <div class="form-radio">
        <%= f.label :evaluation_image_id, "評価" %>
        <% @evaluation_images.each do |ei| %>
          <input type="radio" id="<%= ei.id.to_i %>" value="<%= ei.id.to_i %>" name="review[evaluation_image_id]">
          <label for="<%= ei.id.to_i %>"><%= attachment_image_tag ei, :image %></label>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :comment, "詳細" %>
        <%= f.text_area :comment,  autofocus: true, autocomplete: "comment", placeholder: "投稿内容" %>
      </div>
      <div class="form">
        <%= f.label :month, "行った月" %>
        <%= f.text_field :month, autofocus: true, autocomplete: "month", placeholder: "例：6月中旬" %>
      </div>
      <div class="time">
        <%= f.label :timezone_start, "時間帯" %>
        <%= f.time_select :timezone_start, autofocus: true, autocomplete: "timezone_start" , time_separator: "" %>時
        〜
        <%= f.time_select :timezone_end, autofocus: true, autocomplete: "timezone_end", time_separator: "" %>時
      </div>
      <div class="field">
        <%= f.label :review_photos, "写真" %>
        <%= f.fields_for :review_photos  do |photo_f| %>
          <%= photo_f.attachment_field :review_image , multiple:true  %>
        <% end %>
      </div>
      <div class="action">
        <%= f.submit "登録", class:"asdf" %>
      </div>
    <% end %>
  </div>
  <section class="trip-img">
    <div class="slide-box" id="my-slide">
      <% @trip_photos.each do |tp| %>
         <%= attachment_image_tag tp , :trip_image , fallback: "/images/no_image.jpg"  %>
      <% end %>
    </div>
  </section>
  <section class="content">
    <h2 class="content__title"><%= @trip.place_name %>の情報</h2>
    <% if @trip.user_id == current_user.id %>
      <%= link_to "編集" , edit_trip_path(@trip.id) , class: "content__link" %>
    <% end %>
    <p class="place__detail"><%= @trip.place_detail %></p>
    <dl class="content__table">
      <dt class="table__title"><%= image_tag "/images/category.png" %>カテゴリー</dt>
      <dd class="table__body"><%= @trip.category.category_name %></dd>
      <dt class="table__title"><%= image_tag "/images/time.png" %>営業時間</dt>
      <dd class="table__body"><%= @trip.start_time.hour %>時 〜 <%= @trip.end_time.hour %>時</dd>
      <dt class="table__title"><%= image_tag "/images/close.png" %>定休日</dt>
      <dd class="table__body"><%= @trip.regular_holiday %></dd>
      <dt class="table__title"><%= image_tag "/images/telephone.png" %>電話番号</dt>
      <dd class="table__body"><%= @trip.telephone_number %></dd>
      <dt class="table__title"><%= image_tag "/images/location.png" %>アクセス</dt>
      <dd class="table__body"><div id="map" style='width: 100%; height: 400px;'></div></dd>
    </dl>
  </section>
  <section class="reviews">
    <h2 class="review__title">口コミ（<span class="review__count" color="FFB900"><%= @reviews.count %></span>）</h2>
    <div class="review__box">
      <% @reviews.each do |review| %>
        <%= render "reviews/trip", review: review %>
      <% end %>
    </div>
  </section>
</div>
<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
            {
                "lat": <%= @trip.latitude %>,
                "lng": <%= @trip.longitude %>,
                "infowindow": '<p></p><p><%= @trip.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@trip.latitude},#{@trip.longitude}&iwloc=J",target: "_blank" %></p>'
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
    });
</script>
<script>
    $(document).ready(function(){
        $('#my-slide').slick({
            // アクセシビリティ。左右ボタンで画像の切り替えをできるかどうか
            accessibility: true,
            // 自動再生。trueで自動再生される。
            autoplay: false,
            // 自動再生で切り替えをする時間
            autoplaySpeed: 3000,
            // 自動再生や左右の矢印でスライドするスピード
            speed: 400,
            // 自動再生時にスライドのエリアにマウスオンで一時停止するかどうか
            pauseOnHover: true,
            // 自動再生時にドットにマウスオンで一時停止するかどうか
            pauseOnDotsHover: true,
            // 切り替えのアニメーション。ease,linear,ease-in,ease-out,ease-in-out
            cssEase: 'ease',
            // 画像下のドット（ページ送り）を表示
            dots: false,
            // ドットのclass名をつける
            dotsClass: 'dot-class',
            // ドラッグができるかどうか
            draggable: true,
            // 切り替え時のフェードイン設定。trueでon
            fade: false,
            // 左右の次へ、前へボタンを表示するかどうか
            arrows: true,
            // 無限スクロールにするかどうか。最後の画像の次は最初の画像が表示される。
            infinite: true,
            // 最初のスライダーの位置
            initialSlide: 0,
            // 画像の遅延表示。‘ondemand’or'progressive'

            // スライドのエリアにマウスオーバーしている間、自動再生を止めるかどうか。
            pauseOnHover: true,
            // スライドのエリアに画像がいくつ表示されるかを指定
            slidesToShow: 1,
            // 一度にスライドする数
            slidesToScroll: 2,
            // タッチスワイプに対応するかどうか
            swipe: true,
            // 縦方向へのスライド
            vertical: false,
            // 表示中の画像を中央へ
            centerMode: true,
            // 中央のpadding
            centerPadding: '0px'
        });

    });
</script>
<script >
    $(function() {
        $(document).on('ajax:success', 'form', function(e) {
            console.log(e)
            $('.review__box').prepend(e.detail[2]["response"])
            $('#review_evaluation_id').val('');
            $('#review_comment').val('');
            $('#review_month').val('');
            $('#review_review_photos_attributes_0_review_image').val('');
            $('.review-registration').hide();
            $('.review__wrapper').hide();
            $('.review__count').text($('.review').length)
        })
        $(document).on('click', '.asdf', function() {
            if ($('.main-modal input[type=text]').val() == '') {
                return false;
            }
        })
        $(document).on('click', '.contribution', function() {
            $('.review-registration').show();
            $(".review__wrapper").show();

        })
        $(document).on("click", ".review__wrapper" , function(){
            $('.review-registration').hide();
            $('.review__wrapper').hide();
        })
    })
</script>