<div class="register-container">
  <h2 class="sign-in__title">たびろぐに登録する</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name , :ニックネーム（登録後に変更可能） %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"例：たびろぐくん(任意)" %>
    </div>

    <div class="field">
      <%= f.label :email, :"メールアドレス" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例：mail@tabilog.com" %>
    </div>

    <div class="field">
      <%= f.label :password , :パスワード %><br>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "例：6文字以上の半角英数" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation , :パスワード再入力） %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "例：6文字以上の半角英数" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する（無料）" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
