<div class="form-container">
  <%= form_for(@user) do |f| %>
    <div class="attachment-form">
      <%= f.label :header_image, "ヘッダー画像", class: "header__image__label" %>
      <%=  f.attachment_field :header_image, class: "header__imege" %>
    </div>
    <div class="form">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネーム" %>
    </div>
    <div class="form">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：mail@tabilog.com " %>
    </div>
    <div class="form-group">
      <%= f.label :description, "自己紹介" %>
      <%= f.text_area :description,class: "col-sm-7 form-control",placeholder: "あなたの自己紹介を書きましょう140文字以内" %>
    </div>
    <div class="attachment-form">
      <%= f.label :user_image, "プロフィール画像" %>
      <%=  f.attachment_field :user_image %>
    </div>

    <div class="action">
      <%= f.submit "登録", class: "sign_up_btn" %>
    </div>
  <% end %>
</div>
