<%= render "users/profile", user: @user %>
<div class="trips">
  <% @wannagos.each do |wannago| %>
    <div class="trip">
        <div class="trip__img" >
          <div class="slide">
          <% @trip_photos.where(trip_id: wannago.trip.id).each do |tp| %>
            <%= attachment_image_tag tp , :trip_image ,fallback: "/images/no_image.jpg" %>
          <% end %>
          </div>
        </div>
      <%= link_to trip_path(wannago.trip.id) do %>
          <div class="trip__text">
              <h3 class="place__name"><%= wannago.trip.place_name.truncate(15) %></h3>
              <p class="place__detail"><%= wannago.trip.place_detail.truncate(40) %></p>
          </div>
              <div class="review__num">口コミ：<span><%= wannago.trip.reviews.count %></span></div>
      <% end %>
      <% if wannago.trip.wannagoed_by?(current_user) %>
          <%= link_to wannago_trips_path(wannago.trip), class: "wanna", remote: true do %>
            <button class='wannago-button <%= "#{wannago.trip.id}wanna" %>'<%= image_tag "/images/wannago.png" %>行きたい</button>
          <% end %>
        <% else %>
          <%= link_to wannago_trips_path(wannago.trip), class: "wanna", remote: true do  %>
            <button class='wannago-button <%= "#{wannago.trip.id}wanna" %>'<%= image_tag "/images/wannago.png" %>行きたい</button>
          <% end %>
        <% end %>
    </div>
  <% end %>

</div>
<script>
    $(document).ready(function(){
        $('.slide').slick({
            // アクセシビリティ。左右ボタンで画像の切り替えをできるかどうか
            accessibility: true,
            // 自動再生。trueで自動再生される。
            autoplay: false,
            // 自動再生で切り替えをする時間
            autoplaySpeed: 3000,
            // 自動再生や左右の矢印でスライドするスピード
            speed: 400,
            // 自動再生時にスライドのエリアにマウスオンで一時停止するかどうか
            pauseOnHover: true,
            // 自動再生時にドットにマウスオンで一時停止するかどうか
            pauseOnDotsHover: true,
            // 切り替えのアニメーション。ease,linear,ease-in,ease-out,ease-in-out
            cssEase: 'ease',
            // 画像下のドット（ページ送り）を表示
            dots: false,
            // ドットのclass名をつける
            dotsClass: 'dot-class',
            // ドラッグができるかどうか
            draggable: true,
            // 切り替え時のフェードイン設定。trueでon
            fade: false,
            // 左右の次へ、前へボタンを表示するかどうか
            arrows: true,
            // 無限スクロールにするかどうか。最後の画像の次は最初の画像が表示される。
            infinite: true,
            // 最初のスライダーの位置
            initialSlide: 0,
            // 画像の遅延表示。‘ondemand’or'progressive'

            // スライドのエリアにマウスオーバーしている間、自動再生を止めるかどうか。
            pauseOnHover: true,
            // スライドのエリアに画像がいくつ表示されるかを指定
            slidesToShow: 1,
            // 一度にスライドする数
            slidesToScroll: 2,
            // タッチスワイプに対応するかどうか
            swipe: true,
            // 縦方向へのスライド
            vertical: false,
            // 表示中の画像を中央へ
            centerMode: true,
            // 中央のpadding
            centerPadding: '0px'
        });

    });
</script>








