<%= render "users/profile", user: @user %>
<div class="wannagos">
  <% @wannagos.each do |wannago| %>
    <div class="wannago">
      <% @trip_photos.where(trip_id: wannago.trip.id).each do |tp| %>
        <%= attachment_image_tag tp , :trip_image ,fallback: "/images/no_image.jpg" %>
      <% end %>
      <div class="wannago__text">
        <h3 class="place__name"><%= wannago.trip.place_name.truncate(15) %></h3>
        <p class="place__detail"><%= wannago.trip.place_detail.truncate(40) %></p>
      </div>
      <div class="review__num">口コミ：<span><%= wannago.trip.reviews.count %></span></div>
      <% if wannago.trip.wannagoed_by?(current_user) %>
        <%= link_to wannago_trips_path(wannago.trip), class: "wanna", remote: true do %>
          <button class="wannago-button" id="<%= wannago.trip.id %>"><%= image_tag "/images/wannago.png" %>行きたい</button>
        <% end %>
      <% else %>
        <%= link_to wannago_trips_path(wannago.trip), class: "wanna", remote: true do  %>
          <button class="wannago-button" id="<%= wannago.trip.id %>"><%= image_tag "/images/wannago.png" %>行きたい</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>