


<div class="review-registration">
  <%= form_for @review , :url => { :controller => :reviews, :action => :create } do |f| %>
    <div class="form">
      <%= f.label :evaluation_id, "カテゴリー" %>
      <%= f.collection_select(:evaluation_id, @evaluations, :id , :evaluation_name , prompt: "選択してください")  %>
    </div>
    <div class="form-group">
      <%= f.label :comment, "詳細" %>
      <%= f.text_area :comment,  autofocus: true, autocomplete: "comment", placeholder: "投稿内容" %>
    </div>
    <div class="form">
      <%= f.label :month, "行った月" %>
      <%= f.text_field :month, autofocus: true, autocomplete: "month", placeholder: "例：6月中旬" %>
    </div>
    <div class="time">
      <%= f.label :timezone_start, "時間帯" %>
      <%= f.time_select :timezone_start, autofocus: true, autocomplete: "timezone_start" , time_separator: "" %>時
      〜
      <%= f.time_select :timezone_end, autofocus: true, autocomplete: "timezone_end", time_separator: "" %>時
    </div>
    <div class="field">
      <%= f.label :review_photos, "写真" %>
      <%= f.fields_for :review_photos  do |photo_f| %>
        <%= photo_f.attachment_field :review_image , multiple:true  %>
      <% end %>
    </div>
    <div class="action">
      <%= f.submit "登録", class: "registration_btn" %>
    </div>
  <% end %>
</div>


