<!DOCTYPE html>
<html>
  <head>
    <title>Tabilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.23" %>
    <%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
    <%= javascript_include_tag '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' %>
    <%= javascript_include_tag '/javascripts/gmaps_google.js' %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV['AIzaSyDGzRU_nWmdAc7yugY_EjC0oJ1SEip863A'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


  </head>

  <body>
  <header>
    <div class="header__menu clearfix">
      <h1 class="header__logo"><%= link_to image_tag("/images/logo.png"), root_path  %></h1>
      <nav class="header__nav">
        <ul>
          <% if user_signed_in? %>
            <li><%= attachment_image_tag @user, :user_image,  class: "img-circle", fallback: "/images/no_image.jpg"%></li>
            <%= link_to  destroy_user_session_path ,method: :delete do %>
              <li><span class="sign-up__btn">ログアウト</span></li>
            <% end %>
          <% else %>
            <%= link_to about_path do %>
              <li>たびろぐについて</li>
            <% end %>
            <%= link_to new_user_session_path do %>
              <li>ログイン</li>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <li><span class="sign-up__btn">新規登録</span></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
    <% if user_signed_in? %>
      <div class="menu__wrapper"></div>
      <div class="menu__modal">
        <nav>
          <%= link_to user_path(current_user.id) do %>
            <li class="user__page">
              <span class="user"><%= current_user.name %></span>
              <span class="my__page">マイページを表示</span>
            </li>
          <% end %>
          <%= link_to edit_user_path(current_user.id) do %>
            <li>マイページの編集</li>
          <% end %>
          <%= link_to favorites_path do %>
            <li>お気に入り 一覧</li>
          <% end %>
          <%= link_to wannagos_path do %>
            <li>行きたい 一覧</li>
          <% end %>
          <%= link_to new_trip_path do %>
            <li>旅行先登録</li>
          <% end %>
          <%= link_to user_path(current_user.id) ,method: :delete, data: {confirm: "本当に退会しますか？"} do %>
            <li>退会する</li>
          <% end %>
        </nav>
      </div>
    <% end %>
  </header>
    <%= yield %>

  <footer>
    <p class="footer__copyright">Copyright (C) tabilog, Inc. All Rights Reserved.</p>
  </footer>
  </body>
</html>
